{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<h2 class="m-3 text-center"><b>Word Cloud</b> <span class="badge badge-pill badge-warning">Simple Image</span></h2>

<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="container-fluid">
        {{ form.data }}
        <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#detail-config" aria-expanded="false" aria-controls="detail-config">Detail Configuration</button>
        <div class="collapse" id="detail-config">
            <div class="card card-body mt-1">

                <div class="container-fluid">
                    <b>{{ form.max_word_size.label }}</b> {{ form.max_word_size }}
                    <span class="form-text text-muted help_text mb-1">{{ form.max_word_size.help_text }}</span>
                    {% for error in form.max_word_size.errors %}
                    <small class="form-text text-danger mb-3">{{ error }}</small>
                    {% endfor %}

                    <b>{{ form.bg_color.label }}</b> {% render_field form.bg_color class="form-control mb-3" %}

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="fontfile-addon">{{ form.font.label }}</span>
                        </div>
                        <div class="custom-file">
                            {{ form.font }}
                            <label class="custom-file-label" for="fontfile">Choose Font File (*.ttf, *.otf)</label>
                        </div>
                    </div>
                    {% for error in form.font.errors %}
                    <small class="form-text text-danger mb-3">{{ error }}</small>
                    {% endfor %}
                    <span class="form-text text-muted help_text mb-3">{{ form.font.help_text }}</span>

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="maskfile-addon">{{ form.mask.label }}</span>
                                </div>
                                <div class="custom-file">
                                    {% render_field form.mask class="custom-file-input" id="maskfile" aria-describedby="maskfile-addon" %}
                                    <label class="custom-file-label" for="maskfile">Choose Image File</label>
                                </div>
                            </div>
                            <span class="form-text text-muted help_text mb-3">{{ form.mask.help_text }}</span>
                        </div>

                        <div class="col-sm-6">
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary btn-block text-light">
                                    {% render_field form.mask_coloring autocomplete="off" %} {{ form.mask_coloring.label }}
                                </label>
                                <span class="form-text text-muted help_text mb-3">{{ form.mask_coloring.help_text }}</span>
                            </div>
                        </div>

                    </div>

                    <b>{{ form.stopwords.label }}</b> {{ form.stopwords }}
                    <span class="form-text text-muted help_text mb-3">{{ form.stopwords.help_text }}</span>
                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-primary mt-2 mb-2">Visualization</button>

    </div>
</form>

<div class="block-content"></div>
<div class="prevent-overlap"></div>

{% endblock %}
