{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<h2 class="text-center m-3"><b>Semantic Network Analysis</b> <span class="badge badge-pill badge-danger">Interactive</span></h2>
<form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="container-fluid">
        <br>
        <div class="text-center">
            <h3 class="mb-3">Choose Your File To Visualize</h3>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="data-addon">{{ form.data.label }}</span>
                </div>
                <div class="custom-file">
                    {{ form.data }}
                    <label class="custom-file-label" for="datafile">Choose File (*.txt, *.csv)</label>
                </div>
            </div>
            {% for error in form.data.errors %}
            <small class="form-text text-danger">{{ error }}</small>
            {% endfor %}
            <span class="form-text text-muted help_text mb-3">{{ form.data.help_text }}</span>

        </div>

        <div class="row">
            <div class="col">
                <b>{{ form.node_num.label }}</b> {% render_field form.node_num class="form-control" %}
                <span class="form-text text-muted help_text mb-3">{{ form.node_num.help_text }}</span>
            </div>
            <div class="col">
                <b>{{ form.theme.label }}</b> {% render_field form.theme class="form-control mb-3" %}
            </div>
        </div>

        <button class="btn btn-info btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#detail-config" aria-expanded="false" aria-controls="detail-config">Detail Configuration</button>
        <div class="collapse" id="detail-config">
            <div class="card card-body mt-1">

                <div class="container-fluid">

                    <div class="row">

                        <div class="col">
                            <b>{{ form.edge_remove_threshold.label }}</b> {{ form.edge_remove_threshold }}
                            {% for error in form.edge_remove_threshold.errors %}
                            <small class="form-text text-danger">{{ error }}</small>
                            {% endfor %}
                        </div>
                        <div class="col">
                            <br>
                            <div class="btn-group-toggle" data-toggle="buttons">
                                <label class="btn btn-secondary btn-block active text-light">
                                    {% render_field form.remove_isolated_node autocomplete="off" %} {{ form.remove_isolated_node.label }}
                                </label>
                                <span class="form-text text-muted help_text mb-3">{{ form.remove_isolated_node.help_text }}</span>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col">
                            <b>{{ form.stopwords.label }}</b> {{ form.stopwords }}
                            <span class="form-text text-muted help_text mb-3">{{ form.stopwords.help_text }}</span>
                        </div>

                        <div class="col">
                            <b>{{ form.word_len_min.label }}</b> {{ form.word_len_min }}
                            {% for error in form.word_len_min.errors %}
                            <small class="form-text text-danger mb-3">{{ error }}</small>
                            {% endfor %}
                        </div>

                    </div>

                    <b>{{ form.iterations.label }}</b> {{ form.iterations }}
                    {% for error in form.iterations.errors %}
                    <small class="form-text text-danger mb-3">{{ error }}</small>
                    {% endfor %}

                    <div class="mt-3"><b>{{ form.layout.label }}</b></div> {% render_field form.layout class="form-control mb-3" %}

                    <div class="row">

                        <div class="col">
                            <button class="btn btn-outline-info btn-block dropdown-toggle mb-3" type="button" data-toggle="collapse" data-target="#fr-config" aria-expanded="false" aria-controls="fr-config">Layout: Fruchterman Reingold Config</button>
                            <div class="collapse" id="fr-config">
                                <div class="card card-body mb-3">
                                    <div class="container-fluid">
                                        <b>{{ form.fr_k.label }}</b> {{ form.fr_k }}
                                        {% for error in form.fr_k.errors %}
                                        <small class="form-text text-danger mb-1">{{ error }}</small>
                                        {% endfor %}
                                        <span class="form-text text-muted help_text mb-3">{{ form.fr_k.help_text }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <button class="btn btn-outline-info btn-block dropdown-toggle mb-3" type="button" data-toggle="collapse" data-target="#fa2-config" aria-expanded="false" aria-controls="fa2-config">Layout: ForceAtlas2 Config</button>
                            <div class="collapse" id="fa2-config">
                                <div class="card card-body mb-3">
                                    <div class="container-fluid">
                                        <b>{{ form.fa2_square.label }}</b> {% render_field form.fa2_square class="form-control mb-3" %}
                                        <b>{{ form.fa2_log_base.label }}</b> {{ form.fa2_log_base }}
                                        {% for error in form.fa2_log_base.errors %}
                                        <small class="form-text text-danger mb-1">{{ error }}</small>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-primary mt-2 mb-2">Visualization</button>

    </div>
</form>

<div class="block-content"></div>
<div class="prevent-overlap"></div>

{% endblock %}
