{% extends 'generator.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="top" align="center" style="width:100%; height:50%;">
<div class="subtitle" style="margin:10px;">
<img src="{% static 'IDEA_Simple/web_images/sna_title.png' %}">
</div>
<div align="center" style="margin-bottom:30px;"><font color="gray" font size="4">구글의 검색결과를 <b>자동(Auto)</b>으로 크롤링하여 생성</font></div>
<form method="POST" class="post-form">{% csrf_token %}
<b>Text Input</b><br>
{{ form.text_input|attr:"rows:15"|attr:"cols:1000"}}<br>
<button type="submit" class="save btn btn-default" onClick="loadingf();">Submit</button><br>
<font size="1" color="gray">If Text InputBox doesn't appear, click the submit button first. <br>
Then, Text InputBox will appear.</font>
</div>

<div class="bottom" style="width:100%; height:50%">
<div class="bottom_top" style="width:100%; height:40%;">
<div class="settings" style="float:left; width:50%;">
<div style="margin-left:35%;">
<b>Network Size</b> : {{ form.node_num }} <font size="1" color="green"><b>Default:Small</b></font> <br><br>
<b>Edge Remove Threshold</b> : {{ form.edge_remove_threshold }} <font size="1" color="green"><b>Default:2, Range:[1,100]</b></font> <br><br>
<b>Remove Isolated Node</b> : {{ form.remove_isolated_node }} <font size="1" color="green"><b>Default:ON</font></b><br><br>
<b>Stop Words</b> : {{ form.stop_words }} <font size="1" color="green"><b>Default:Null</b></font> <br><br></div>
</div>

<div class="guide" style="float:left; width:50%;">
<font size="1">
<div style="margin-left:20%;">
<div style="margin-left:5%;"><b>How To Use</b></div>
<ul>
<li>Text InputBox에 입력된 데이터를 <b>라인당 하나의 글로 인식</b>합니다.</li><br>
<li><b>Network Size</b> : Network를 구성할 노드의 갯수 크기입니다.<br>
<font color="blue">Small : 35, Regular : 60, Large : 100</font></li><br>
<li><b>Edge Remove Threshold</b> : Edge Weight 가 n 보다 작은 edge를 제거합니다.<br>
지나치게 큰 값을 입력할 경우 에러가 발생할 수 있습니다.</li><br>
<li><b>Remove Isolated Node</b> : Edge가 없이 고립된 Node를 제거유무를 선택합니다.</li><br>
<li><b>Stop Words</b> : 불용어 처리기능 입니다. 결과값에서 제외하고 싶은 단어를 입력하세요.<br>
여러개일 경우 <font color="red">,(콤마)</font>를 이용하여 작성해주세요.<br>
ex) 데이터,머신러닝,개발</li>
</ul></font></div>
</div>
</div>

<hr>
<div class="bottom_mid" align="center" style-="width:100%; height:10%;">
<font size="3"><b>Layout</b></font> : {{ form.layout }}
</div>
<hr>

<div class="bottom_bottom" style="width:100%; height:40%;">
<div class="layout_settings" style="float:left; width:50%">
<div align="center"><h2>Fruchterman Reingold Layout Settings</h2></div>
<div style="margin-left:35%; margin-top:30px;">
<b>k</b> : {{ form.fr_k }} <font size="1" color="green"><b>Default:1</b></font><br><br>
<b>Iteration</b> : {{ form.fr_iter }} <font size="1" color="green"><b>Default:50</b></font></div>
</div>
<div class="layout_settings" style="float:left; width:50%">
<div align="center"><h2>ForceAtlas2 Layout Settings</h2></div>
<div style="margin-left:35%; margin-top:30px;">
<b>Exponentiation</b> : {{ form.fa2_1 }} <font size="1" color="green"><b>Default:2</b></font><br><br>
<b>Log Base</b> : {{ form.fa2_2 }} <font size="1" color="green"><b>Default:100</b></font><br><br>
<b>Iteration</b> : {{ form.fa2_iter }} <font size="1" color="green"><b>Default:50</b></font>
</form></div>
</div>
</div>

<div class="back_menus" align="center" style="width:100%; height:10%;">
<a style="margin:5px;" href="{% url 'index' %}"><img src="{% static 'common/web_images/main.png' %}"></a>
<a style="margin:5px;" href="{% url 'home' %}"><img src="{% static 'common/web_images/back.png' %}"></a></div>
</div>
</div>

{% endblock %}