{% extends 'generator.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="top" align="center" style="width:100%; height:50%;">
<div class="subtitle" style="margin:10px;">
<img src="{% static 'IDEA_Simple/web_images/wc_title.png' %}">
</div>
<form method="POST" class="post-form">{% csrf_token %}
<b>Text Input</b><br>
{{ form.text_input|attr:"rows:15"|attr:"cols:200"}}<br>
<button type="submit" class="save btn btn-default" onClick="loadingf();">Submit</button><br>
<font size="1" color="gray">If Text InputBox doesn't appear, click the submit button first. <br>
Then, Text InputBox will appear.</font>
</div>

<div class="mid" style="width:100%; height:30%">
<div class="settings" style="float:left; width:50%;">
<div style="margin-left:35%;">
<b>Max Word Size</b> : {{ form.max_word_size }} <font size="1" color="green"><b>Default:100, Range:[50,300]</b></font><br><br>
<b>Bg Color</b> : {{ form.bg_color }} <font size="1" color="green"><b>Default:White</b></font><br><br>
<b>Shape</b> : {{ form.shape }} <font size="1" color="green"><b>Default:Circle</b></font><br><br>
<b>Stop Words</b> : {{ form.stop_words }} <font size="1" color="green"><b>Default:Null</b></font></form></div>
</div>

<div class="guide" style="float:left; width:50%;">
<font size="1">
<div style="margin-left:20%;">
<div style="margin-left:5%;"><b>How To Use</b></div>
<ul>
<li>Text InputBox 에 시각화시킬 자료를 입력해주세요.</li><br>
<li><b>Max Word Size</b> : 빈도수가 가장 높은 단어의 크기를 지정합니다.</li><br>
<li><b>Bg Color</b> : Word Cloud 의 배경색을 지정합니다.<br></li><br>
<li><b>Shape</b> : Word Cloud 의 모양을 지정합니다.<br></li><br>
<li><b>Stop Words</b> : 불용어 처리기능 입니다. 결과값에서 제외하고 싶은 단어를 입력하세요.<br>
여러개일 경우 <font color="red">,(콤마)</font>를 이용하여 작성해주세요.<br>
ex) 데이터,머신러닝,개발</li>
</ul></font></div></div>
</div>

<div class="back_menus" align="center" style="width:100%; height:10%;">
<a style="margin:5px;" href="{% url 'index' %}"><img src="{% static 'common/web_images/main.png' %}"></a>
<a style="margin:5px;" href="{% url 'home' %}"><img src="{% static 'common/web_images/back.png' %}"></a></div>

{% endblock %}