{% extends 'index.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="subtitle" align="center">
<img src="{% static 'IDEA_Interactive/web_images/wc_title.png' %}"></div>

<div class="guide" align="center" style="margin-bottom:30px;">
<font color="gray" font size="4">구글의 검색결과를 <b>자동(Auto)</b>으로 크롤링하여 생성</font></div>

<div class="input" style="float:left; width:50%;">
<div style="margin-left:270px; margin-top:30px;">
<form method="POST" class="post-form">{% csrf_token %} <br>
Page Range : {{ form.page_range }} <font size="1" color="green">[Range : 1 ~ 100]</font> <br><br>
Stop Words : {{ form.stop_words }} <font size="1" color="green">default = null</font><br><br><br><br>
<b>Keyword</b> : {{ form.keyword }}
<button type="submit" class="save btn btn-default" onClick="loadingf();">Submit</button>
</form></div>
</div>

<div class="guide" style="float:left; width:50%;">
<div style="margin-left:110px">
<h3>사용방법</h3>
<h6>1. 자동생성모드에 해당하므로 생성시간이 최소 10초 소모됩니다. <br><br>

2. Max Word Size 는 워드클라우드에서 가장 큰(빈도수가 가장높은) 단어의 크기입니다. <br>
사용자가 원하는 크기를 입력하시면 됩니다. <br><br>

3. Bg Color 는 워드클라우드 배경의 색상을 설정하는 값입니다. <br>
사용자가 희망하는 색상을 선택하시면 됩니다. <br><br>

4. Shape 는 워드클라우드의 모양을 의미합니다. <br>
사용자가 희망하는 모양을 선택하시면 됩니다. <br><br>

5. Page Range 는 웹에서 데이터를 크롤링할 페이지의 갯수를 의미합니다. <br>
기본값은 3이며, 1~3 페이지의 데이터를 크롤링 한다는 것을 의미합니다.<br>
(1 증가당 약 3초 증가) <br><br>

6. Stop Words (불용어) 는 결과값에서 제외할 단어를 의미합니다. <br>
결과값에서 제외할 단어가 복수일 경우 <font color="red">,(콤마)</font>로 구분해주시길 바랍니다.
</h6></div>
</div>

<div class="back" align="center">
<a href="{% url 'i_home' %}"><img src="{% static 'common/web_images/back.png' %}"></a></div>

{% endblock %}