{% extends 'generator.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block content %}

<div class="top" align="center" style="width:100%; height:30%;">
<div class="subtitle" style="margin:10px;">
<img src="{% static 'IDEA_Interactive/web_images/wc_title.png' %}"></div>
<div align="center" style="margin-bottom:30px;"><font color="gray" font size="4">구글의 검색결과를 <b>자동(Auto)</b>으로 크롤링하여 생성</font></div>
<form method="POST" class="post-form">{% csrf_token %}
<b>Keyword</b> : {{ form.keyword }}<button type="submit" class="save btn btn-default" onClick="loadingf();">Submit</button>
</div>

<div class="mid" style="width:100%; height:30%;">
<div class="setttings" style="float:left; width:50%;">
<div style="margin-left:35%;">
<b>Page Range</b> : {{ form.page_range }} <font size="1" color="green"><b>Default:2, Range:[1,100]</b></font><br><br>
<b>Stop Words</b> : {{ form.stop_words }} <font size="1" color="green"><b>Default:Null</b></font>
</form></div>
</div>

<div class="guide" style="float:left; width:50%;">
<div style="margin-left:10%;">
<div style="margin-left:5%;"><b>How To Use</b></div>
<font size="2">
<ul>
<li><b>Auto Generator Mode</b> 이므로 생성시간이 최소 10초 소요됩니다.</li><br>
<li><b>Page Range</b> : Data를 Crawling 할 페이지의 갯수입니다. 페이지당 약 3초 소요됩니다.</li><br>
<li><b>Stop Words</b> : 불용어 처리기능 입니다. 결과값에서 제외하고 싶은 단어를 입력하세요.<br>
여러개일 경우 <font color="red">,(콤마)</font>를 이용하여 작성해주세요.<br>
ex) 데이터,머신러닝,개발</li>
</ul></font>
</div></div>
</div>

<div class="back_menus" align="center" style="width:100%; height:10%;">
<a style="margin:5px;" href="{% url 'index' %}"><img src="{% static 'common/web_images/main.png' %}"></a>
<a style="margin:5px;" href="{% url 'i_home' %}"><img src="{% static 'common/web_images/back.png' %}"></a></div>

{% endblock %}